@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @media (prefers-color-scheme: light) {
    :root {
      --background: 0 0% 3.9%;
      --foreground: 0 0% 98%;
      --card: 240 7% 11%;
      --card-foreground: 0 0% 98%;
      --popover: 0 0% 3.9%;
      --popover-foreground: 0 0% 98%;
      --primary: 26 100% 45%;
      --primary-foreground: 0 0% 9%;
      --secondary: 0 0% 14.9%;
      --secondary-foreground: 0 0% 98%;
      --muted: 0 0% 14.9%;
      --muted-foreground: 0 0% 63.9%;
      --accent: 0 0% 14.9%;
      --accent-foreground: 0 0% 98%;
      --destructive: 0 70.9% 59.4%;
      --border: 0 0% 14.9%;
      --input: 0 0% 14.9%;
      --ring: 300 0% 45%;
      --chart-1: 220 70% 50%;
      --chart-2: 160 60% 45%;
      --chart-3: 30 80% 55%;
      --chart-4: 280 65% 60%;
      --chart-5: 340 75% 55%;
      --tabbar: oklch(0.205 0 0);
      --tabbar-foreground: oklch(0.985 0 0);
      --tabbar-primary: oklch(0.488 0.243 264.376);
      --tabbar-primary-foreground: oklch(0.985 0 0);
      --tabbar-accent: oklch(0.269 0 0);
      --tabbar-accent-foreground: oklch(0.985 0 0);
      --tabbar-border: oklch(1 0 0 / 10%);
      --tabbar-ring: oklch(0.439 0 0);
    }
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 0 0% 3.9%;
      --foreground: 0 0% 98%;
      --card: 240 7% 11%;
      --card-foreground: 0 0% 98%;
      --popover: 0 0% 3.9%;
      --popover-foreground: 0 0% 98%;
      --primary: 26 100% 45%;
      --primary-foreground: 0 0% 9%;
      --secondary: 0 0% 14.9%;
      --secondary-foreground: 0 0% 98%;
      --muted: 0 0% 14.9%;
      --muted-foreground: 0 0% 63.9%;
      --accent: 0 0% 14.9%;
      --accent-foreground: 0 0% 98%;
      --destructive: 0 70.9% 59.4%;
      --border: 0 0% 14.9%;
      --input: 0 0% 14.9%;
      --ring: 300 0% 45%;
      --chart-1: 220 70% 50%;
      --chart-2: 160 60% 45%;
      --chart-3: 30 80% 55%;
      --chart-4: 280 65% 60%;
      --chart-5: 340 75% 55%;
      --tabbar: oklch(0.205 0 0);
      --tabbar-foreground: oklch(0.985 0 0);
      --tabbar-primary: oklch(0.488 0.243 264.376);
      --tabbar-primary-foreground: oklch(0.985 0 0);
      --tabbar-accent: oklch(0.269 0 0);
      --tabbar-accent-foreground: oklch(0.985 0 0);
      --tabbar-border: oklch(1 0 0 / 10%);
      --tabbar-ring: oklch(0.439 0 0);
    }
  }
}
